<h2>Edit Your Comment</h2>
<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info comment_form">
        <%= form_for [@combo, @comment] do |f| %>
        <%= f.label :comment %>
        <%= f.text_area :content %><br><br>
        <%= f.submit 'edit comment' %>
        <% end %>
      </div>
      </ul>
    </div>
  </div>
</div>
