<h1>edit</h1>
<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info comment_form">
<%= form_for [@combo, @comment] do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <%= f.submit 'edit comment' %>
<% end %>
</div>
</ul>
</div>
</div>

</div>
