<h2>Your Account Information</h2>


<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info">
        <ul>
          Name: <%= @user.name %><br>
          Email: <%= @user.email %><br><br>
          <% if current_user == @user %>
          <%= link_to "Change your info", edit_user_path(@user) %>
          <% end %>
        </ul>
      </div>
      </ul>
    </div>
  </div>
</div>

