.navbar-brand {
  background-color: rgba(0,0,0, 1)
}


  body {
    padding-top:80px;
    background-image: url('http://i.imgur.com/uHTNhZF.png');
   }


.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.posted {
  font-size: 15px;

}

.title {
  font-size: 35px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.comment_form {
  color: black;
}

.main {
  color: white;
}

.main , .single {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  background-color: rgba(0,0,0, .4)
}

a:visited, .navbar-right {
  color: pink;
}

.show {
  float: left;
}

.sorted {
  text-align: right;
}

.postedby {
  font-size: 15px;
}

.card {
  background-color: white;

}

.style_image {
  height: 100px;
  width: 100px;
  border: 5px solid black;
}

.style_gif {
  height: 200px;
  width: 300px;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
  border: 4px solid black;
}

label {
  display: block;
  width: 3em;
  margin-right: 1em;

}



.panel {
  background-color: rgba(0,0,0, .4)
}

.panel-heading {
    background-color: rgba(0,0,0, .6)
}

.card-block {
  color: black;
  margin: 20px 20px 20px 20px;

}

.card {
    border-radius: 20px;

}

.navbar-nav {
  padding-left:50px;
  padding-right:50px;
}

.info {
  float: left;
  margin-bottom: 50px;
}



.card {
 clear: left;
}

.btn-med {
  float: left;
}
