.navbar-brand {
  background-color: rgba(0,0,0, 1)
}

h2 {
  color: white !important;
  margin-left: 40px;
}

body {
  padding-top:80px;
  background-image: url('http://i.imgur.com/uHTNhZF.png');
  color: white;
}

.filter {
  color: pink;
  margin-right: 50px;
}


.dropdown {
display: inline-block;
}

.posted, .postedby {
  font-size: 15px;
}

.title {
  font-size: 35px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.main, .comment_form label{
  color: white;
}

.comment_form {
  color: black;
}

.main , .single {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  background-color: rgba(0,0,0, .4)
}

a:visited, a:link, .navbar-right {
  color: pink;
}

.show {
  float: left;
}

.card {
  background-color: white;
}

.style_image {
  height: 100px;
  width: 100px;
  border: 5px solid black;
}

.style_gif {
  height: 200px;
  width: 300px;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
  border: 4px solid black;
}

label {
  display: block;
  width: 5em;
  margin-right: 1em;
}


.panel-heading {
    background-color: rgba(0,0,0, .6)
}

.card-block {
  color: black;
  margin: 20px 20px 20px 20px;
}

.card {
    border-radius: 20px;
    clear: left;
}

.navbar-nav {
  padding-left:50px;
  padding-right:50px;
}

.info {
  float: left;
  margin-bottom: 50px;
}

.black-background {
  background-color: rgba(0,0,0, .5);
}

.dropdown-menu > li {
  background-color: white;
}

.navbar-collapse.collapse {
display: block!important;
}

.col-xs-12 {
  height: 70px;
}


